<%%- model_class = <%= resource_name.classify %> -%>

<ul class="list-unstyled">
  <%% @<%= plural_resource_name %>.each do |<%= resource_name %>| %>
        <%%= link_to t('.show', :default => t("helpers.links.show")),
                      <%= singular_controller_routing_path %>_path(<%= resource_name %>) do %>
  <li class="media">
    <img src="https://picsum.photos/64" class="mr-3" alt="...">
    <div class="media-body">
        <%- columns.each_with_index do |column, index| -%>
      <% if index == 0 %>
        <h3 class="mt-1 mb-1"><%%= <%= resource_name %>.<%= column.name %> %></h3>
      <% elsif index == 1 %>
         <%%= <%= resource_name %>.<%= column.name %> %>
      <% end %>
          <%- end -%>
    </div>
  </li>
    <% end %>
  <%% end %>

</ul>