<%%- model_class = <%= resource_name.classify %> -%>
<div class="page-header">
  <h1><%%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Fluid Card Deck</h1>
    <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
  </div>
</div>



<div class="card-deck">
    
<%% @<%= plural_resource_name %>.each do |<%= resource_name %>| %>
    
     <div class="card">
    
      <img class="card-img-top" src="https://picsum.photos/100/180/" alt="Card image cap">
     
 <div class="card-body">

        <a href="<%= plural_resource_name %>/<%%= <%= resource_name %>.id %>">
      <h2 class="card-title"><%%= <%= resource_name %>.titulo %></h2>
           </a>
    
      <p class="card-text"><%%= <%= resource_name %>.autor %></p>
  
      <p class="card-text"><small class="text-muted"><%%= <%= resource_name %>.editora> %></small></p>

     </div>
     </a>
       <div class="card-footer">
         <div class="card-body">
  <%- columns.each_with_index do |column, index| -%>
      <% if index == 1 %>
        <a href="<%= plural_resource_name %>/<%%= <%= resource_name %>.id %>">
      <h2 class="card-title"><%%= <%= resource_name %>.<%= column.name %> %></h2>
      <h1><%%= <%= resource_name %>.titulo %></h1>
       </a>
      <% elsif index == 2 %>
      <p class="card-text"><%%= <%= resource_name %>.<%= column.name %> %></p>
      <% else %>
      <p class="card-text"><small class="text-muted"><%%= <%= resource_name %>.<%= column.name %> %></small></p>
       <% end %>
    <%- end -%>
     </div>
        </div>
      </div>

  <%% end %>
</div>


<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Media</h1>
    <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
  </div>
</div>

  <div class="container">
<ul class="list-unstyled">
  <%% @<%= plural_resource_name %>.each do |<%= resource_name %>| %>
              <a href="<%= plural_resource_name %>/<%%= <%= resource_name %>.id %>">
  <li class="media">
    
    <img src="https://picsum.photos/64" class="mr-3" alt="...">
     
    <div class="media-body">
        <%- columns.each_with_index do |column, index| -%>
      <% if index == 1 %>
        <h5 class="mt-1 mb-1"><%%= <%= resource_name %>.<%= column.name %> %></h5>
      <% elsif index == 2 %>
         <%%= <%= resource_name %>.<%= column.name %> %>
      <% end %>
          <%- end -%>
    </div>
       
  </li>
    
  <%% end %>
</ul>

</div>



<%%= link_to t('.new', :default => t("helpers.links.new")),
            new_<%= singular_controller_routing_path %>_path,
            :class => 'btn btn-primary' %>
