<%%- model_class = <%= resource_name.classify %> -%>
<section class="mbr-section content5 cid-qvbiXHsAN2 mbr-parallax-background" style="background-image: url(https://picsum.photos/1080/580); z-index: 0; position: relative;  background-attachment: scroll; background-size: auto">

    

    <div class="mbr-overlay" style="opacity: 0.6; background-color: rgb(35, 35, 35);">
    </div>

    <div class="container">
        <div class="media-container-row">
            <div class="title col-12 col-md-8">
                <h1 class="align-center mbr-bold mbr-white pb-3 mbr-fonts-style display-1"><%%=t '.title', :default => model_class.model_name.human.titleize %></h1>
                <h3 class="mbr-section-subtitle align-center mbr-light mbr-white pb-3 mbr-fonts-style display-5">Make your own bootstrap blog in minutes!&nbsp;</h3>
                
                
            </div>
        </div>
    </div>
</section>

<section class="mbr-section content4 cid-qvbjfGj2Ze" id="content4-7x" data-rv-view="3584">

    

    <div class="container">
        <div class="media-container-row">
            <div class="title col-12 col-md-8">
                <%- columns.each_with_index do |column, index| -%>
                    <% if index == 0 %>
                <h2 class="align-center pb-3 mbr-fonts-style display-5"><%%= @<%= resource_name %>.<%= column.name %> %></h2>
                <h3 class="mbr-section-subtitle align-center mbr-light mbr-fonts-style display-7"><em>By John Smith posted July 30, 2016</em></h3>
                
            </div>
        </div>
    </div>
</section>

<section class="mbr-section article content1 cid-qvbjomyZfb" id="content1-7y" data-rv-view="3586">
    
     

    <div class="container">
        <div class="media-container-row">
            <% elsif index == 1 %>
            <div class="mbr-text col-12 col-md-8 mbr-fonts-style display-7"><%%= @<%= resource_name %>.<%= column.name %> %></div>
        </div>
    </div>
</section>

<section class="mbr-section article content1 cid-qvbjsgNEPl" id="content2-7z" data-rv-view="3587">

     

    <div class="container">
        <div class="media-container-row">
            <% else %>
            <div class="mbr-text col-12 col-md-8 mbr-fonts-style display-7">
                <blockquote><%%= @<%= resource_name %>.<%= column.name %> %></blockquote>
            </div>
            <% end %>
            <%- end -%>
        </div>
    </div>
</section>




<section class="container">
<%%= link_to t('.back', :default => t("helpers.links.back")),
              <%= controller_routing_path %>_path, :class => 'btn btn-default'  %>
<%%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_<%= singular_controller_routing_path %>_path(@<%= resource_name %>), :class => 'btn btn-default' %>
<%%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              <%= singular_controller_routing_path %>_path(@<%= resource_name %>),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</section>